body{
			font-family:·L³n¥¿¶ÂÅé;
			background-image: url("img/doge2.jpg");
			background-repeat:repeat-y;
			background-size:100%,100%;
		}
		footer{
			background-color:#1C1C1C;
		}
		.nav{
			position: relative;
			background-color:#1C1C1C;
		}
		.navgation{
			position: relative; 
			background-color:#1C1C1C;
			padding:9px;
			border:20px;
			font-size:15px;
			color: white;
		}
		.img{
			position: relative;
			width: 45%;
			left: 340px;	
		}
	
		.imgvol1{
			width: 30%;
			position:relative;
			left: 250px;
		}
		.imgvol2{
			width: 30%;
			position:relative;
			left: 350px;
		}
		
		
		a{
			color: white;
		}
		.banner{
			position: relative;
			left: 340px;
		}
		
		.txet{			
			font-size: 100px;
		}
		section{
			background-color: white;
			border: 1px #1C1C1C solid;
			width: 80%;
			margin-top: 30px;
			margin-left: 12%;			
		}
		.aside{
			background-color: orange;
			font-size: 14px;
			position: fixed;
			right: 0px;
			top: 70%;
  			width: 235px;
  			padding:7px;
		}
		.icon{
			width: 10%;
		}